*{margin: 0;
padding: 0;}
body{
    width: 100%;
    height: 100%;
    background:  linear-gradient( rgb(255, 215, 227), #c7fafa, rgb(255, 215, 227));
    font-family: 'Sora', sans-serif;
    font-size: 13px;
}
ul{
    text-decoration: none;
}
li{
    text-decoration: none;
    display: inline-block;
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
span{
    color: #ff30c0;
}
/*Classes*/
.titulo{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cont-film{
    text-align: center;
    background-color: white;
    border-radius: 25px;
}
.cont{
    width: 1250px;
    height: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
}
.baner{
    width: 370px;
    height: 450px;
    text-align: center;
    border-radius: 50px;
    border: 2.25px solid transparent;
    background:  linear-gradient(rgb(255, 215, 227), #f2bce1)padding-box, linear-gradient(to right,#ff30c0, #30ffff)border-box;
}
.pro{
    width: 100%;
    height: 500px;
}
.pro-img{
    width: 100%;
    height: 100%;   
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.div-baner{
    display: inline-block;
    margin: 20px;
    margin-left: 90px;
    margin-right: 90px;
}
.bott{
    margin-top: 5px;
    margin-bottom: 7px;
    border: 2px solid transparent;
    background: linear-gradient(white, white)padding-box, linear-gradient(to right,#ff30c0, #30ffff)border-box;
    border-radius: 50px;
}
.cads-prom{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}
.cont-brev{
    background-color: white;
    border-radius: 50px;
}
.cont-seg{
    text-align: center;
}
.div-baner-seg{
    display: inline-table;
    margin: 15px;
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;
}
.baner-seg{
    width: 185px;
    height: 250px;
    border-radius: 25px;
    border: 2.25px solid transparent;
    background:  linear-gradient(rgb(255, 215, 227), #f2bce1)padding-box, linear-gradient(to right,#ff30c0, #30ffff)border-box;
}