/*Fontes: Sora, Yanone Kaffeesatz*/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap');

:root{
  --corBanner: #f2bce1;
  --corPrincipal: #ff30c0;
  --corTercearia: #b7ffff;
  --corSecundaria: #30ffff;
}

* {
    margin: 0;
    padding: 0;
}

textarea{
    margin-bottom: 15px;
    resize: none;
    height: 50px;
    width: 200px;
    border: 2px solid transparent;
    background: linear-gradient(white, white)padding-box, linear-gradient(to right,#ff30c0, #30ffff)border-box;
    border-radius: 5px;
}

select{
    width: 200px;
    border: 2px solid transparent;
    background: linear-gradient(white, white)padding-box, linear-gradient(to bottom, #ff30c0, #30ffff);
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: inherit;
}

input {
  display: block;
  height: 25px;
  width: 200px;
  background-color: white;
  border: none;
  border-bottom: 2px solid transparent;
  background: linear-gradient(white, white)padding-box, linear-gradient(to right, #ff30c0, #30ffff)border-box;
  margin-bottom: 10px;
}

input::placeholder{
  font-family: Sora, sans-serif;
}

input:focus{
  box-shadow: none;
  outline: 0;
}

textarea::placeholder{
  font-family: Sora, sans-serif;
}

textarea:focus{
  box-shadow: none;
  outline: 0;
}

select::placeholder{
  font-family: Sora, sans-serif;
}

select:focus{
  box-shadow: 0;
  outline: 0;
}

button:focus{
  box-shadow: none;
  outline: 0;
}

input:focus textarea:focus select:focus button:focus{
  box-shadow: 0 0 0;
  outline: 0;
  border: 0 none;
}

option{
  font-family: Sora, sans-serif;
}

option:invalid{
  color: gray;
}

button{
  font-family: Sora, sans-serif;
  border: none;
  border-radius: 15px;
  width: 150px;
  height: 25px;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--corPrincipal), var(--corBanner), var(--corTercearia), var(--corSecundaria));
}

section h1{
  padding: 120px;
  font-family: Yanone-Kaffeesatz, sans-serif;
  font-weight: 400 lighter;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: -350px;
  margin-bottom: 80px;
}

section img{
  width: 100%;
}

article{
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*ID´s*/
#conteudo-form{
    display: inline-block;
    margin-top: 15px;
}

#coluna1-form{
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: top;
}

#coluna2-form{
    display: inline-block;
    margin: 10px;
    text-align: center;
}

#subtitulo-form{
  font-family: Sora, sans-serif;
}

/*Classes*/
.formulario{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 29px 8px rgba(0,0,0,0.46);
    padding: 50px;
    bottom: 150px;
    position: relative;
    background-color: white;
}

.formulario h1{
  font-family: Yanone-Kaffeesatz, sans-serif;
}

.botao{
  margin-top: 10px;
}

.contatos{
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.contatos img{
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}

.contatos p{
  font-family: Sora, sans-serif;
}

.banner-form{
  background-image: linear-gradient(to right, var(--corPrincipal), var(--corBanner), var(--corTercearia), var(--corSecundaria));
  width: 100%;
  height: 200px;
  z-index: -1;
}