@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap');

.confirmacao{
    text-align: center;
    width: 40%;
    background: linear-gradient(to right, rgb(4, 255, 4), rgb(0, 170, 0));
    margin-left: 30%;
    border-radius: 15px;
    padding: 15px;
}

.confirmacao p{
    font-family: Sora, sans-serif;
    color: white;
}

.confirmacao img{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}