@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap");

/*font-family: 'Sora', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;*/

:root {
    --corBanner: #f2bce1;
    --corPrincipal: #ff30c0;
    --corSecundaria: #b7ffff;
    --CorTerciaria: #30ffff;
}

body {
    font-family: 'Sora', sans-serif;
}
h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 86px;

}
/*CLASSES*/
.mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.loc-mapa {
    margin-left: 90px;
}

.maps{
border: 2px var(--corPrincipal) solid;
border-radius: 50px;
padding: 10px;
}

.cinema {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cine-text{
    margin-left: 90px;
}
.lojas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.loja-text{
    margin-left: 90px;
}

.new{
    background-color: var(--corSecundaria) ;    
}
.new-w{
    text-align: center;
}

.horas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.horas-text{
    margin-left: 20px;
}